# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modulleri ve Svelte Çıktıları
node_modules
dist
dist-ssr
*.local
.svelte-kit
/build
/package

# Editör Dizinleri ve Dosyaları
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ortam Dosyaları (Güvenlik İçin)
.env
.env.local